html{
   scroll-behavior: smooth;
}
*{
   padding: 0%;
   margin: 0%;
   font-family: 'Courier New', Courier, monospace;
   
}
.header{
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(50,50,50,5), rgba(50,50,50,5));
   background-image: url(../images/Masilva.jpg);
   background-size: cover;
   background-position: center;
   background-color: rgba(50,50,50,5)
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 50px;
   padding-left:10px ;
   padding-right:10px ;
}
.logo{
   color: blue;
   font-size: 50px;
   
}
span{
   color: white;
}

nav ul li{
   display: inline;
   list-style-type: none;
   padding: 10px 20px;
   font-size: 20px;


}
nav ul li a{
   color:white;
   text-decoration:none;
   font-weight: bold;
}
nav ul li a:hover{
   color: blue;
   transition: .2s;
}
button{
   border: none;
   background:none ;
   padding:10px 10px ;
   border-radius:10%;
   font-size: 2
   0px;
   font-weight: bold;
   border-style: solid;
   border-color: blue;
   color: blue;
   width: 150px;
   transition: .2s;
}
button:hoover{
   transform: scale(1.3);
   cursor:all-scroll;
}
.content{
   text-align: left;
   margin-left: 100px;
   height: 400px;
   width: 500px;
   /* background-color: red; */
   padding-top: 50px;
   color: white;
}
.intro{
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
   font-weight: bold;
}
.about{
   height: 100vh;
   width: 100%;
   /* background-image: linear-gradient(rgba(0,0,0,5), rgba(0,0,0,5));
   background-image: url(../images/full_edited.png);
   background-size: cover; */
   background-position:center;
   background-color: rgba(50,50,50,5)
   
}

.form{
   margin-top: 50px;
   background-color: rgba(50,50,50,5)
}
.main_intro{
   font-size: 25px;
   font-weight: bold;
   color: lightblue;
   font-family: "Times New Roman";
}
#main_intro{
   padding-top: 10px;
   padding-bottom: 10px;
}
.explain{
   font-size: 18px;
   font-family: "Calibri ";
   
}
.main_intro a{
   color: lightblue;
}
.education{
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,5), rgba(0,0,0,5));
   background-image: url(../images/graduation.png); 
   /* background-size: 50%; */
   background-position:center;
   /* background-color:blue; */
}
.right_side{
   /* background-color: red; */
   text-align: right;
   padding-top: 10px;
   margin-left: 50%;
}
.moringa, .solar{
   background-color: red;
   width: 40%;
   height: 30vh;
   float: left;
   margin-left:50px;
   margin-top: 20px;
   text-align: center;
}
.tuk, .kuscco{
   background-color: green;
   width: 40%;
   height: 30vh;
   float: right;
   margin-right:50px;
   margin-top: 20px;
   text-align: center;
}
.ambira, .volunteer{
   background-color: orange;
   width: 40%;
   height: 30vh;
   float: left;
   margin-top: 40px;
   margin-left: 50px;
   text-align: center;
}
.genesis, .iebc{
   background-color: indigo;
   width: 40%;
   height: 30vh;
   float: right;
   margin-right:50px;
   margin-top: 40px;
   text-align: center;
}
.about_right{
   text-align: center;
   float: right;
   width: 55%;
   margin-right: 25px;
}
.explanation{
   padding: 15px;
   color: aqua;
}

.textarea{
   color: white;
   text-align: none;
}

.white{
   color: white;
   font-size: 40px;
   text-decoration: underline solid blue;
}

img{
  
   height: 420px;
   margin-left: 15px;
}
.img-logo{
   height: 100px;
}
.footer{
      height: 120vh;
      width: 100%;
      /* background-image: linear-gradient(rgba(0,0,0,5), rgba(0,0,0,5));
      background-image: url(../images/Masilva.jpg);
      background-size: cover;
      background-position: center; */
      background-color:rgba(50, 50, 50, 5)
}
label{
   display: block;
   margin: 0.5rem 0;
   text-align: center;
}
fieldset{
   background-color: lightblue;
   border: none;
   padding: 2rem 0;
   /* border-bottom: 3px solid #3b3b4f; */
}
.form-center{
   text-align: center;
   
   
}

form {
   width: 60vw;
   max-width: 500px;
   min-width: 300px;
   margin: 0 auto
   
}

.edu{
   font-size: 20px;
   font-family: "New Times Roman";
   text-decoration: underline dotted white;
   padding-bottom: 10px;
   color: white;
   font-weight: solid;
}

input{
   
   margin: 10px 0 0 0;
   width:80%;
   min-height: 2em;
   background-color: grey;
   border: 1px solid blue;
   color: #ffffff;
}
.logo-pictures{
   display: inline;
   display: flex;
   width: 25px;
   margin: auto;
   justify-content: space-between;
   align-items: center;
}
.moringa ul li, .ambira ul li, .genesis ul li, .tuk ul li{
   list-style-type: none;
}
.solar ul li, .kuscco ul li, .iebc ul li, .volunteer ul li{
   list-style-type: none;
}
.work{
   height: 100vh;
   width: 100%;
   /* background-image: linear-gradient(rgba(0,0,0,5), rgba(0,0,0,5));
   background-image: url(../images/Masilva.jpg); */
   /* background-size: cover;
   background-position: center; */
   background-color: green;
}
#continue{
   display: none;
}




/* body {
   background-image: url(../images/Masilva.jpg);
    
    
} */
/* .navbar{
   float:left;
   display: flex;
   width: 15%;
   margin-left: auto;
   margin-right: auto;
   
}

.content{
   text-align: left;
   margin-left: 50px;
   height: 300px;
   width: 400px;
   background-color: red;
}
p{
  
   margin-left: 50px;
   text-align: left;
   
}
.stubborn{
   text-align: left;
   margin-left: 0%;
   font-size: 10px;
}


    */

/* ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: lightblue;
}

li {
   display: inline;
   padding: 10px;
   text-align: right;
 } */